.vaccination-container {
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  background: #161625;
  display: flex;
  flex-direction: column;
}

.state-district-dropdown {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-select-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.state-select {
  outline: none;
  cursor: pointer;
  background-color: #2f2f43;
  color: var(--light-blue-gray-50, #f8fafc);
  width: 264px;
  height: 52px;
  padding: 0px 16px;
  border-radius: 12px;
  gap: 12px;
  margin: 10px;
  border: 0;
}

select > option {
  padding: 10px;
  height: 30px;
  color: var(--light-blue-gray-400, #94a3b8);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-left: 2px solid blue;
}

@media (max-width: 576px) {
  .state-district-dropdown {
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .state-select {
    width: 200px;
    height: 35px;
    font-size: 16px;
    border-radius: 4px;
  }
  select > option {
    font-size: 10px;
  }
}

.home-india-state {
  display: flex;
  align-items: center;
}

.home-india-state-btn {
  background-color: transparent;
  border: 0;
  font-size: 32px;
  color: var(--light-blue-gray-300, #cbd5e1);
  font-family: Roboto;
  font-weight: 500;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home-india-state-btn:hover {
  color: var(--light-blue-gray-300, #3b82f6);
}

.slash-btn {
  background-color: transparent;
  border: 0;
  font-size: 32px;
  color: var(--light-blue-gray-300, #cbd5e1);
  font-family: Roboto;
  font-weight: 500;
  line-height: 48px;
}
