.state-specific-container {
  background: #161625;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.loading-container {
  padding-top: 80px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161625;
}

.name-last-update-tested-card {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-last-updated-card {
  display: flex;
  flex-direction: column;
}

.name-card {
  padding: 10.541px 21.082px;
  border-radius: 32px;
  background: var(--light-transparent-light-blue-16, rgba(2, 132, 199, 0.16));
  color: var(--light-light-blue-500, #0ea5e9);
  font-family: HK Grotesk;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 0;
  flex-shrink: -1;
  align-self: flex-start;
}

.last-updated {
  margin-top: 12px;
  color: var(--light-blue-gray-300, #cbd5e1);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.tested-para {
  color: var(--light-blue-gray-400, #94a3b8);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-align: right;
}

.tested-count {
  font-size: 24px;
}

@media (max-width: 576px) {
  .state-specific-container {
    padding: 10px;
  }

  .name-card {
    padding: 5.271px 10.541px;
    border-radius: 16px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
  }

  .last-updated {
    font-size: 12px;
  }

  .tested-para {
    font-size: 12px;
  }

  .tested-count {
    font-size: 16px;
  }
}

.map-population-tested {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Roboto;
}

.map-image {
  width: 40%;
}

.map-ncp-report {
  color: var(--light-blue-gray-400, #94a3b8);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.map-title {
  color: var(--light-blue-gray-100, #f1f5f9);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
}

.map-count {
  color: var(--light-blue-gray-400, #94a3b8);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 5px;
}

.as-of-date {
  color: var(--light-blue-gray-300, #cbd5e1);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 576px) {
  .map-image {
    width: 70%;
  }
  .map-ncp-report {
    margin-bottom: 0;
  }
  .map-population-tested {
    flex-direction: column;
  }

  .population-tested {
    width: 90%;
    align-items: flex-start;
  }

  .population-testes-container {
    display: flex;
    justify-content: space-between;
  }
}
